/* Changa Variable font */
@font-face {
    font-family: "Changa";
    src: url('./../elements/Changa-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

/* ConcertOne font */
@font-face {
    font-family: "ConcertOne";
    src: url('./../elements/ConcertOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* RussoOne font */
@font-face {
    font-family: "RussoOne";
    src: url('./../elements/RussoOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    outline: 1px solid red;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
}
:root {
    --light-color: #49b749
}
body {
    background-color: rgb(136, 104, 62);
}

.container {
    background-color:  rgb(160, 198, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 1 px solid black;
    width: 100%;
}

#head-title {
    font-size: 4em;
}

h1 > span {
    font-family: "Changa";
    background-color: rgb(0, 0, 0);
    color: rgb(160, 198, 228);
    font-size: 1em;
    line-height: 10px;
    border-radius: 0.5em;
    margin: 0;
    padding: 0;
}

p {
    background-color: rgb(160, 198, 228);
    font-size: 2em;
    font-style: italic;
    padding: 0.5em 3em
}

.outer-circle {
    background-color: #385a94;
    height: 50em;
    width: 50em;
    position: relative;
    border-style: solid;
    border-width: 1em;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 4em;
    box-shadow: 0.9em .9em 1.5em 0.9em #888;
}


#top-left-panel {
    position: absolute;
    height: 20em;
    width: 20em;
    cursor: pointer;
    border-radius: 20em 0 0 0;
    -moz-border-radius: 20em 0 0 0;
    -webkit-border-radius: 20em 0 0 0;
    background-color: darkgreen;
    top: 50%;
    left: 50%;
    margin: -20em 0 0 -20em;
    border-style: solid;
    border-width: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 200ms ease;
}

.panel.selected {
    border: 3px solid var(--light-color);
    box-shadow: 0px 0 45px 30px var(--light-color), inset 0 0 57px 35px var(--light-color);
}

#top-right-panel {
    position: absolute;
    height: 20em;
    width: 20em;
    cursor: pointer;
    border-radius: 0 20em 0 0;
    -moz-border-radius: 0 20em 0 0;
    -webkit-border-radius: 0 20em 0 0;
    background-color: darkred;
    top: 50%;
    left: 50%;
    margin: -20em 0 0 0;
    border-style: solid;
    border-width: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bottom-left-panel {
    position: absolute;
    height: 20em;
    width: 20em;
    cursor: pointer;
    border-radius: 0 0 0 20em;
    -moz-border-radius: 0 0 0 20em;
    -webkit-border-radius: 0 0 0 20em;
    background-color: goldenrod;
    top: 50%;
    left: 50%;
    margin: 0 -20em 0 -20em;
    border-style: solid;
    border-width: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bottom-right-panel {
    position: absolute;
    height: 20em;
    width: 20em;
    cursor: pointer;
    border-radius: 0 0 20em 0;
    -moz-border-radius: 0 0 20em 0;
    -webkit-border-radius: 0 0 20em 0;
    background-color: darkblue;
    top: 50%;
    left: 50%;
    margin: 0 0 -20em 0;
    border-style: solid;
    border-width: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#inner-circle {
    position: absolute;
    overflow: hidden;
    background-color: rgb(160, 198, 228);
    border-radius: 50%;
    height: 18em;
    width: 18em;
    border-style: solid;
    border-width: 1.5em;
    top: 50%;
    left: 50%;
    margin: -9em 0 0 -9em;
    /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box */
}

#signature {
    font-family: "ConcertOne";
    background-color: rgb(160, 198, 228);
    color: orange;
    /* text-align: center; */
    /* line-height: 0.5em; */
    font-size: 3em;
    padding-bottom: 0.2em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */

}

.signature {
    border: 1px solid black;
    background-color: rgb(160, 198, 228);
}

.signature > span {
    background-color: rgb(160, 198, 228);
    color: green;
}


.brand-title {
    font-family: "Changa";
    text-align: center;
    background-color: black;
    color: rgb(160, 198, 228);
    font-size: 4em;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.start-btn, .strict-btn {
    font-family: "RussoOne";
    text-align: justify ;
}

.inner-border {
    border: 0.5em solid rgb(155, 184, 206)
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

/* Strict button */
.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 100px;
    height: 70px;
    box-sizing: border-box;
  }
  
  .button-cover {
    height: 50px;
    margin: 10px;
    background-color: rgb(160, 198, 228);
    box-shadow: 0 5px 10px -4px #c5d6d6;
    border-radius: 4px;
  }
  
  .button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgb(160, 198, 228);
    font-size: 6px;
    line-height: 1;
    padding: 3px;
  }
  
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    top: 50%;
    width: 37px;
    height: 18px;
    margin: -10px auto 0 auto;
    overflow: hidden;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 50px;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: rgb(254, 255, 255);
    transition: 0.3s ease all;
    z-index: 1;
  }
  
#strict-btn .knobs:before {
    content: "ON";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 5px;
    color: #fff;
    font-size: 5px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 5px 2px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }
  
  #strict-btn .checkbox:active + .knobs:before {
    width: 23px;
    border-radius: 100px;
  }
  
  #strict-btn .checkbox:checked:active + .knobs:before {
    margin-left: -13px;
  }
  
  #strict-btn .checkbox:checked + .knobs:before {
    content: "OFF";
    left: 21px;
    background-color: #f44336;
  }
  
  #strict-btn .checkbox:checked ~ .layer {
    background-color: rgb(255
, 255, 255);
  }

  #start-btn {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: red;
  }

  .btn>.start>p {
    font-size: 1rem;
    display: inline;
  }