/* Baloo 2 font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap');

/* Changa Variable font */
@font-face {
    font-family: "Changa";
    src: url('./../elements/Changa-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

/* RussoOne font */
@font-face {
    font-family: "RussoOne";
    src: url('./../elements/RussoOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
:root {
    --light-color: #49b749
}

body {
    background-color: rgb(136, 104, 62);
}

#head-title {
    font-size: 4em;
}

h1 {
  font-family: "Changa";
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  padding-top: 0.4em;
  gap: .2em;
}

h1 > span {
    font-family: "Changa";
    background-color: rgb(0, 0, 0);
    color: rgb(160, 198, 228);
    font-size: 1em;
    line-height: 0.5em;
    border-radius: 1em;
    margin: 0;
    padding: 0.2em 0.3em;
    display: inline-block;
}

p {
    background-color: rgb(160, 198, 228);
    font-family: "Changa";
    font-size: 2em;
    /* font-style: italic; */
    padding: 0 0.5em;
}

.container {
  background-color:  rgb(160, 198, 228);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: 1 px solid black;
  width: 100%;
}

.outer-circle {
    background-color: #385a94;
    height: 50em;
    width: 50em;
    position: relative;
    border-style: solid;
    border-width: 1em;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 4em;
    box-shadow: 0.9em .9em 1.5em 0.9em #888;
}


#top-left-panel {
    position: absolute;
    height: 20em;
    width: 20em;
    cursor: pointer;
    border-radius: 20em 0 0 0;
    -moz-border-radius: 20em 0 0 0;
    -webkit-border-radius: 20em 0 0 0;
    background-color: darkgreen;
    top: 50%;
    left: 50%;
    margin: -20em 0 0 -20em;
    border-style: solid;
    border-width: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 200ms ease;
}

.panel.selected {
    border: 3px solid var(--light-color);
    box-shadow: 0px 0 45px 30px var(--light-color), inset 0 0 57px 35px var(--light-color);
}

#top-right-panel {
    position: absolute;
    height: 20em;
    width: 20em;
    cursor: pointer;
    border-radius: 0 20em 0 0;
    -moz-border-radius: 0 20em 0 0;
    -webkit-border-radius: 0 20em 0 0;
    background-color: darkred;
    top: 50%;
    left: 50%;
    margin: -20em 0 0 0;
    border-style: solid;
    border-width: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bottom-left-panel {
    position: absolute;
    height: 20em;
    width: 20em;
    cursor: pointer;
    border-radius: 0 0 0 20em;
    -moz-border-radius: 0 0 0 20em;
    -webkit-border-radius: 0 0 0 20em;
    background-color: goldenrod;
    top: 50%;
    left: 50%;
    margin: 0 -20em 0 -20em;
    border-style: solid;
    border-width: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bottom-right-panel {
    position: absolute;
    height: 20em;
    width: 20em;
    cursor: pointer;
    border-radius: 0 0 20em 0;
    -moz-border-radius: 0 0 20em 0;
    -webkit-border-radius: 0 0 20em 0;
    background-color: darkblue;
    top: 50%;
    left: 50%;
    margin: 0 0 -20em 0;
    border-style: solid;
    border-width: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#inner-circle {
    position: absolute;
    overflow: hidden;
    background-color: rgb(160, 198, 228);
    border-radius: 50%;
    height: 18em;
    width: 18em;
    border-style: solid;
    border-width: 1.5em;
    top: 50%;
    left: 50%;
    margin: -9em 0 0 -9em;
    padding:.8em;
}

#signature {
    font-family: 'Baloo 2', cursive;
    line-height: 1;
    color: orange;
    text-align: center;
    font-size: 3.5em;
    border-radius: 0.2em;
}

.signature {
    border-radius: 0.1em;
}

.signature > span {
    color: green;
}

.brand-title {
    font-family: "Changa";
    text-align: center;
    background-color: black;
    color: rgb(160, 198, 228);
    font-size: 4em;
    line-height: 0.5em;
    border-radius: 1em;
    margin: 0;
    padding: .2em;
}

.btn {
    padding-top: 0.6em;
    font-family: "RussoOne", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#start-btn {
  font-family: "RussoOne", sans-serif;
  padding: 1em;
  color: white;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: red;
}

#start-btn.disabled {
  background-color: grey;
}

.text {
  padding: 0;
  text-align: center;
  font-style: normal;
  font-size: 1.1em;
}

#turn {
  background-color: black;
  color: red;
  text-align: center;
  font-size: 2.4em;
  padding: 0 0.2em;
}